*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
      margin: 0 auto;
      font-family: 'Darker Grotesque', sans-serif;
      background-color: #faf9f9;
      color: #011627;
      font-size: 1.25em;
  }

  .color {
    background-color: #F3CA40;
  }

 

  /* TEXT STYLES */

  h1 {
    font-size: 2em;
    padding: 20px 10px;
    color: white;
}
legend {
  font-size: 1em;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}

h1,
button {
    font-family: 'Bungee', cursive;   
    text-align: center;
}

.newsletter-label {
    font-size: 1em;
    font-weight: 600;
   text-transform: uppercase;
   padding-top: 15px;
}



/*HEADER*/

  header {
    margin: 0 auto;  
    width: 100%;
      padding: 20px 10px;
      text-align: center;
      
  }

  .info {
    width: 90%; 
    margin: auto; 
    text-align: center;
      padding: 15px 5px;
      border-bottom: solid 3px  #F3CA40;
  }

  /* FORM DISPLAY */

  .form-wrapper {
      width: 100%;
      margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  fieldset {
    width: 95%;
    border: none;
    outline: none;
  }

.flex {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

input, 
select, 
textarea {
    border: none;
    font-size: 16px;
    height: auto;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    transition: all .75s;
}

input, 
textarea {
    cursor: text;
    box-shadow: inset 0px 3px 15px rgba(174, 156, 96, 0.2);
}

select,
.group input, 
button  {
    cursor: pointer;
}

input:focus, 
select:focus, 
textarea:focus {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 5%);
    -webkit-appearance: none;
    outline: none;

}

input:hover, 
select:hover, 
textarea:hover {
    background: rgba(0, 0, 0, 5%)

}

input[type="number"] {
    width: 50%;
}

label[for="zip"] {
    margin-top: 10px;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox, 
.radio {
    width: 5%;
    outline: none;
    margin-right: 5px;
}

.checkbox:checked,
.radio:checked {
    -webkit-appearance: none;
    border-radius: 10%;
    background-color: #F3CA40;
    outline: none;
  }


label[for="comment"] {
    margin-top: 20px;
   margin-bottom: 10px;
}

/* BUTTON */
button {
    margin: 40px auto;
    background-color: #011627;
    width: 60%;
    padding: 20px;
    text-align: center;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .15em;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

button:hover {
    background-color: #F3CA40;
    color: white;
}

/* FOOTER */

footer {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: .8em;
    padding: 10px;
    border-top: solid 3px  #F3CA40;
}

@media (min-width:769px) {
    .info,
    .form-wrapper,
    footer {
       margin: auto;
        width: 50%;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact label {
    min-width: 120px;
}

input[type="number"] {
    width: 30%;
}

}